
body{
    background: #111;
    overflow-x: hidden;
 }
header{
    position: fixed; 
    top: 0%;left: 0%;
    z-index: 1000;
    height:100%;
    width: 35rem;
    background: #1a1a1a;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding-left: 7%; 

 } 
header .User img{
    height: 25rem;
    width: 24rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:7rem solid var(--yellow) ;
    padding-right: 3%;
} 
header .User .name{
    font-size: 3.5rem;
    color: #fff;

}
header .User .post{
    font-size: 2rem;
    color: #eee

}
header .navbar{
   width: 100%


}
header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}header .navbar ul li a:hover{
    background: yellow;
}

#menu{
    position: fixed;
    top: 2rem;right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/* .projects .box-container{
    display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-left: 50%; */
/* }  */
/* .projects .box-container.box{ */
    /* height: 20rem; */
    /* width: 20rem; */
    /* border-radius:1 rem; */
    /* margin: 2rem; */
    /* overflow: hidden; */
    /* cursor: pointer; */

/* } */
/* .projects .box-container.box img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   grid-gap: 20px; 
} */
.box-container.box:hover img{
    transform: scale(1,2);
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding-left: 35%;
    padding-top: 5%;
    row-gap: 10%;
    border-radius: 3%;
}
.box{
    height: 70%;
   width: 70%;
   gap: 2%;
   border-radius: 3%;
}
.heading{
    padding-left: 45%;
    color: #fff;
    font-size: 80px;
}
